body {
	margin: 0 auto;
	background-image: linear-gradient(#3c3b3f, #659999);
	font-family: 'Open Sans';
}

.flex-container-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
}

.flex-container-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header {
	background-color: transparent;
	color: white;
	height: 7.5vh;
	top: 0;
	position: fixed;
	width: 100%;
}

.navlink-grid-container {
	margin-right: 30px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 20px;
}

.header-navlink {
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-weight: 600;
}

.header-navlink:visited {
	color: white;
}
.header-navlink:hover {
	text-transform: uppercase;
}
.header-navlink:active {
	color: red;
}

.content-grid-container {
	margin-top: 20vh;
	display: grid;
	grid-template-columns: 10vw 20vw 60vw 10vw;
	grid-row-gap: 5vw;
	grid-template-rows: auto;
	color: white;
	min-height: 100vh;
}

.grid-header {
	grid-column: 2/3;
	justify-self: end;
	align-self: center;
}

.grid-content {
	grid-column: 3/4;
	font-family: 'Poppins';
}

h1 {
	text-align: end;
}

.yellow-text-before {
	transition: 1s;
}

.yellow-text-after {
	color: yellow;
	transition: 1s;
}

.headshot {
	max-width: 30%;
	opacity: 0.5;
	height: auto;
	border-radius: 50%;
	align-self: center;
	justify-self: center;
	transition: 1s;
}

.headshot:hover {
	opacity: 1;
	transition: 1s;
}

.headshot:hover ~ .yellow-text {
	color: yellow;
}

.aboutme-header {
	grid-row: 2/3;
}

.aboutme {
	grid-row: 2/3;
	background-color: rgba(95, 95, 95, 0.2);
	max-width: 40vw;
	justify-self: center;
	padding: 1em;
}

.projects-header {
	grid-row: 3/4;
}

.projects {
	grid-row: 3/4;
}

.project-container {
	margin: 5px;
	width: 50%;
	padding: 0 1em;
	background-color: rgba(95, 95, 95, 0.2);
	border-radius: 5px;
}

.project-summary {
	cursor: pointer;
	height: calc(1em + 32px);
}

.app-name {
	font-weight: bold;
	color: yellow;
}

.project-details {
	max-height: 0;
	overflow: hidden;
	transition: all 5s;
	height: auto;
	opacity: 1; /* let's make this 0 after we figure everything out */
}
.project-details-open {
	transition: all 5s;
	height: auto;
	max-height: 500px;
	opacity: 1;
}

.p-test {
	max-height: inherit;
	overflow: inherit;
	transition: inherit;
	height:inherit;
}

.footer {
	background-color: transparent;
	color: white;
	bottom: 0;
	width: 100%;
	height: 7vh;
	margin-top: 10px;
	justify-content: space-between;
}

.design-tag {
	font-size: 0.5em;
	bottom: 0;
}

.icon-container {
	margin: 6px 15px 6px 6px;
	text-decoration: none;
}

.link-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	text-indent: -10000px;
	margin: 0 auto;
}

.github {
	background: url('./assets/github.png');
}

.linkedin {
	background: url('./assets/linkedin.png');
}

.app {
	background: url('./assets/app.png');
}

.disabled {
	pointer-events: none;
}
